/*=============================
**	TODO:
**===========================*/
/*=============================
**	IMPORTS
**===========================*/
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/
/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/
textarea {
  resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */
/* ==========================================================================
Helper classes
========================================================================== */
/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */
/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*=============================
** VARIABLES
**===========================*/
/*	COLORS 	*/
/*	TYPE 	*/
/*	SIZES 	*/
/*	BREAKPOINTS 	*/
/*=============================
**	MIXINS
**===========================*/
section h2 {
  color: #6464e1;
  text-shadow: 1px 1px 0.2px rgba(255, 255, 255, 0.5);
}

#introPanel h1 {
  font-size: 4.5vmin;
}

@font-face {
  font-family: 'leagueGothic';
  src: url("type/leaguegothic-italic-webfont.eot");
  src: url("type/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("type/leaguegothic-italic-webfont.woff") format("woff"), url("type/leaguegothic-italic-webfont.ttf") format("truetype"), url("type/leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic;
}

/* Italic */
@font-face {
  font-family: 'leagueGothic';
  src: url("/type/leaguegothic-italic-webfont.eot");
  src: url("/type/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/type/leaguegothic-italic-webfont.woff") format("woff"), url("/type/leaguegothic-italic-webfont.ttf") format("truetype"), url("/type/leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'leagueGothic';
  src: url("../type/leaguegothic-regular-webfont.eot");
  src: url("../type/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../type/leaguegothic-regular-webfont.woff") format("woff"), url("../type/leaguegothic-regular-webfont.ttf") format("truetype"), url("../type/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Condensed */
@font-face {
  font-family: 'leagueGothicCondensed';
  src: url("leaguegothic-condensed-regular-webfont.eot");
  src: url("leaguegothic-condensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("leaguegothic-condensed-regular-webfont.woff") format("woff"), url("leaguegothic-condensed-regular-webfont.ttf") format("truetype"), url("leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Condensed Italic */
@font-face {
  font-family: 'leagueGothicCondensed';
  src: url("type/leaguegothic-condensed-italic-webfont.eot");
  src: url("type/leaguegothic-condensed-italic-webfont.eot?#iefix") format("embedded-opentype"), url("type/leaguegothic-condensed-italic-webfont.woff") format("woff"), url("type/leaguegothic-condensed-italic-webfont.ttf") format("truetype"), url("type/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg") format("svg");
  font-weight: normal;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

/*
88888888ba                                        88
88      "8b                                       88
88      ,8P                                       88
88aaaaaa8P'  ,adPPYYba,  8b,dPPYba,    ,adPPYba,  88  ,adPPYba,
88""""""'    ""     `Y8  88P'   `"8a  a8P_____88  88  I8[    ""
88           ,adPPPPP88  88       88  8PP"""""""  88   `"Y8ba,
88           88,    ,88  88       88  "8b,   ,aa  88  aa    ]8I
88           `"8bbdP"Y8  88       88   `"Ybbd8"'  88  `"YbbdP"'
*/
body, #panelSnap {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  /*position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;*/
}

section#introPanel {
  padding-top: 70vh;
  padding-left: 5vw;
}

section#introPanel h1 {
  width: 50vw;
  font-family: 'Vollkhorn', serif;
  color: #838383;
  font-weight: 700;
  font-size: 3.5vmin;
  line-height: 1.2em;
}

section#introPanel h1 span {
  display: block;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  color: black;
  font-size: 6vmin;
  line-height: 1.8em;
  margin-left: -4.5vw;
}

section#introPanel article {
  text-align: left;
}

section {
  display: table;
  position: relative;
  height: 100vh;
  width: 60em;
  max-width: 60vw;
  margin: -38vh auto;
  padding: 30vh 10vw;
}

section > article {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
}

.socialIcons img {
  display: inline-block;
  width: 3em;
  height: auto;
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
}

.logo {
  position: fixed;
  top: 10vmin;
  left: 5vmin;
  width: 8vmin;
  height: auto;
}

.videoUpdate {
  position: relative;
  /*&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: ' ';
		display: block;
		//		background: rgba( 55, 55, 55, 0.5);
		box-shadow: inset 0 0 50px 0px rgba(55, 55, 55, 0.5);
		z-index: 3;
	}*/
}

/*=============================
**	PLACEHOLDER IMAGE
**===========================*/
.videoPreview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  -webkit-filter: grayscale(65%) blur(2px) sepia(20%);
  filter: grayscale(65%) blur(2px) sepia(20%);
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /*&:hover, &:active, &:focus {
		-webkit-filter: grayscale(35%) blur(0px) sepia(0%);
		filter: grayscale(35%) blur(0px) sepia(0%);
		-webkit-transform:scale(1.1, 1.1);
		transform:scale(1.1, 1.1);
	}*/
}

.active .playButton:hover + .videoPreview {
  -webkit-filter: grayscale(0%) blur(0px) sepia(0%);
  filter: grayscale(35%) blur(0px) sepia(0%);
  /*-webkit-transform:scale(1.1, 1.1);
	transform:scale(1.1, 1.1);*/
}

/*=============================
**	VIDEO
**===========================*/
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*=============================
**	VIDEO INFO
**===========================*/
.playButton {
  position: relative;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
}

.playButton:after {
  background-image: url('data:image/svg+xml;utf8,\a 			<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">\a 				<circle fill="red" cx="514.065" cy="504.152" r="477.545"/>\a 				<polygon fill="white" points="383,510.151 383,318.502 548.696,414.327 714.529,510.151 548.765,605.976 383,701.801 "/>\a 			</svg>');
  background-position: center center;
  background-repeat: no-repeat;
  content: ' ';
  display: block;
  left: 0%;
  top: 100%;
  height: 25%;
  width: 25%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.playButton:hover:after {
  height: 28%;
  width: 28%;
}

.videoUpdate h2 {
  display: none;
  position: absolute;
  top: 20%;
  left: -15%;
  z-index: 3;
}

.active .playButton, .active h2 {
  display: block;
}
