/*
88888888ba                                        88
88      "8b                                       88
88      ,8P                                       88
88aaaaaa8P'  ,adPPYYba,  8b,dPPYba,    ,adPPYba,  88  ,adPPYba,
88""""""'    ""     `Y8  88P'   `"8a  a8P_____88  88  I8[    ""
88           ,adPPPPP88  88       88  8PP"""""""  88   `"Y8ba,
88           88,    ,88  88       88  "8b,   ,aa  88  aa    ]8I
88           `"8bbdP"Y8  88       88   `"Ybbd8"'  88  `"YbbdP"'
*/

body, #panelSnap {
	text-align: center;
	position: absolute;
	top: 0;
	width: 100%;
	/*position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;*/
}

#introPanel {
//	margin-top: 25vmin;
	padding-top: 15vmin;
}

section {
	display: table;
	position: relative;
	max-height: 40vmin;
	width: 50em;
	max-width: 75vmin;
	margin: 25vmin auto;
	padding: 0 10vmin;

	& > article {
		display: table-cell;
		position: relative;
		vertical-align: middle;
		text-align: center;

		& > h2 {//Video Topic
			position: absolute;
			top: 20%;
			left: -15%;
			z-index: 3;
		}
	}
}

/*
88b           d88                       88  88
888b         d888                       88  ""
88`8b       d8'88                       88
88 `8b     d8' 88   ,adPPYba,   ,adPPYb,88  88  ,adPPYYba,
88  `8b   d8'  88  a8P_____88  a8"    `Y88  88  ""     `Y8
88   `8b d8'   88  8PP"""""""  8b       88  88  ,adPPPPP88
88    `888'    88  "8b,   ,aa  "8a,   ,d88  88  88,    ,88
88     `8'     88   `"Ybbd8"'   `"8bbdP"Y8  88  `"8bbdP"Y8
*/

.video-update {
	position: relative;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		z-index: 2;
	}
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}


