/*
88888888ba                                        88
88      "8b                                       88
88      ,8P                                       88
88aaaaaa8P'  ,adPPYYba,  8b,dPPYba,    ,adPPYba,  88  ,adPPYba,
88""""""'    ""     `Y8  88P'   `"8a  a8P_____88  88  I8[    ""
88           ,adPPPPP88  88       88  8PP"""""""  88   `"Y8ba,
88           88,    ,88  88       88  "8b,   ,aa  88  aa    ]8I
88           `"8bbdP"Y8  88       88   `"Ybbd8"'  88  `"YbbdP"'
*/

body, #panelSnap {
	text-align: center;
	position: absolute;
	top: 0;
	width: 100%;
	padding-top:20vmin;
	/*position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;*/
}

#introPanel {
	//	margin-top: 25vmin;
	padding-top: 55vmin;
}

section {
	display: table;
	position: relative;
	max-height: 40vmin;
	width: 50em;
	max-width: 75vmin;
	//NOTE: It's all about the difference between the margin and padding.
	margin: -35vmin auto -35vmin auto;
	padding: 30vmin 10vmin 30vmin 10vmin;

	&:first-of-type {
//		margin: -25vmin auto -20vmin auto;
//		padding: 20vmin 10vmin 30vmin 10vmin
	}

	& > article {
		display: table-cell;
		position: relative;
		vertical-align: middle;
		text-align: center;
	}
}




